h1{
    text-align:left;
    position: absolute;
    width: 1135px;
    height: 36px;
    left: 100px;
/* top: 156px; */

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #203A61;
}
.head-desc{
    text-align: left;
    margin-left: 100px;
    padding-top:50px;
    position:flex;
    width:70%;
    

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #203A61;
}

/* Class properties */

/* Cards */
.card{
    box-shadow: 0px 0px 10px rgba(32, 58, 97, 0.25);
    border-radius: 10px !important;

    margin: 3rem 5% !important;
}

.Image{
    padding: 15% 20%;

}

.card-title {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #203A61;
}

.card-text {
    font-family: 'Space Mono', monospace;
    font-size: 18px;

    margin-top: 22px !important;
}

@media (max-width:575px) {
    h1{
        text-align:left;
        position: absolute;
        width: 1135px;
        height: 36px;
        left: 30px;
    /* top: 156px; */
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: #203A61;
    }
    .card{
        box-shadow: 0px 0px 10px rgba(32, 58, 97, 0.25);
        border-radius: 10px !important;
        width:500px;
    
        margin: 3rem 30% !important;
    }
    .head-desc{
        text-align: left;
        margin-left: 30px;
        padding-top:60px;
        position:flex;
        width:100%;
        
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #203A61;
    }
}