@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#features{
  /* Dark Blue Primary */
  padding: 6%;
  background: #203A61;
}

.featureSpacing{
  margin-bottom: 10%;
}

.heading-one{
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 59px;
  /* margin-left: 6%; */
  color: #FFFFFF;
}

.body-one{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  /* identical to box height */
  /* margin-left: 6%; */

  color: #FFFFFF;
}

.inner-heading{
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 59px;
  color: #FFFFFF;
}

.inner-body{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}