@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#features{
  /* Dark Blue Primary */
  padding: 6%;
  background: #203A61;
}

.featureSpacing{
  margin-bottom: 10%;
}

.heading-one{
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 59px;
  color: #FFFFFF;
}

.body-one{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;

  color: #FFFFFF;
}

.inner-heading{
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 59px;
  color: #FFFFFF;
}

.inner-body{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}

.navText{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  
  /* Dark Blue Primary */
  
  color: #203A61;
}
.login-heading{
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  align-items: center;
  /* Dark Blue Primary */

  color: #203A61;
}

.loginSpacing{
  margin: auto 7% !important;
  padding: 3%;
}

.login-body{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
  /* Dark Blue Primary */

  color: #203A61;
}

.formSpace{
  margin-bottom: 5%;
}

::placeholder{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;

  color: #C4C4C4;
}