.Landing-desc{
    background-color: #203A61 !important;
    /* background-color:rgba(32, 58, 97, 0.5) !important; */
    background-image: url("./Images/waves.png");
    background-size: 100% 100%;
    height: 100vh;
}
/* Description Styling here */

.desc-text{
    font-family: 'Space Mono', monospace;
    font-size: 36px;
    color:rgb(255, 255, 255) !important;
    font-weight: 600;
    /* margin: 2rem; */
}

.land-button {
    margin:2rem 0;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: normal; 
    
}

@media only screen and (max-width: 768px)
{
    .Landing-desc {
        padding: 5rem 0;
        height: unset;
    }
}
