.Landing{
    background: #203A61 !important;
}

.color-nav{
    background-color: #203A61 !important;
}



.nav-brand{
    font-family: Space Mono;
    font-weight:bold !important;
    color:white !important;
}

.navText{
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;


    color:white !important;
}